APP_NAME="QMS API - Testing"
APP_ENV=testing
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file

BCRYPT_ROUNDS=4

LOG_CHANNEL=stack
LOG_LEVEL=debug

# Для тестов используем отдельную PostgreSQL БД
DB_CONNECTION=pgsql
DB_HOST=qms-db
DB_PORT=5432
DB_DATABASE=qms_test
DB_USERNAME=qms_user
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=array
SESSION_DRIVER=array
QUEUE_CONNECTION=sync

REDIS_CLIENT=phpredis
REDIS_HOST=qms-redis
REDIS_PASSWORD=null
REDIS_PORT=6379

# Отключаем внешние сервисы для тестов
MAIL_MAILER=array

# Отключаем мониторинг
PULSE_ENABLED=false
TELESCOPE_ENABLED=false
NIGHTWATCH_ENABLED=false

JWT_SECRET=
JWT_ALGO=HS256

UPLOAD_MAX_FILESIZE=100
MESSAGE_ENCRYPTION_ALGO=AES-256-GCM

FRONTEND_URL=http://localhost:3000

